.tab {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  padding-bottom: 0.25rem;
  margin-top: 2rem;
}

.tab-button {
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  color: #b6b4b3;
  padding-bottom: 0.15rem;
  cursor: pointer;
  border-bottom: 1px solid #44403b;
}

.tab-button:hover,
.tab .activeTab {
  color: #f9b767;
  border-bottom-color: #f9b767;
}
